html,
body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

body {
    width: 400px;
    font-size: 100%;
}

.header {
    font-size: 75%;
    background-color: #50af50;
    color: white;
    text-align: center;
    padding: 10px;
}

.content {
    margin: 0 10px 10px 10px;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 6px;
}

img {
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 5px;
}
